{% extends 'base.html.twig' %}

{% block title %}Редактирование{% endblock %}

{% block body %}
{% include('account/account_header.html.twig') with {selected: 'main'}%}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(userForm) }}
                {% if show_error %}
                    {{ form_row(userForm.firstName) }}
                    {{ form_row(userForm.patronymic) }}
                    {{ form_row(userForm.surname) }}
                    {{ form_row(userForm.birthDate) }}
                {% else %}
                    {{ form_row(userForm.firstName, {
                        attr: {value: app.user.firstName}
                    }) }}
                    {{ form_row(userForm.patronymic, {
                        attr: {value: app.user.patronymic}
                    }) }}
                    {{ form_row(userForm.surname, {
                        attr: {value: app.user.surname}
                    }) }}

                    {% if (app.user.birthDate ?? null) %}
                        {{ form_row(userForm.birthDate, {
                            attr: {value: app.user.birthDate|date('Y-m-d')}
                        }) }}
                    {% else %}
                        {{ form_row(userForm.birthDate) }}
                    {% endif %}
                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </section>
{% endblock %}

    {% block footer %}
    {% endblock %}
{% set no_search=true %}