{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstName }} {{ app.user.surname }}{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row  justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th scope="row">Имя</th>
                        <td>{{ app.user.firstName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Отчество</th>
                        <td>{{ app.user.patronymic }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                        <td>{{ app.user.surname }}</td>
                    </tr>
                    {% if app.user.phoneNumbers|length > 0 %}
                        {% for phone in app.user.phoneNumbers %}
                            <tr>
                                <th scope="row">Телефон</th>
                                <td>{{ phone|format_ru_phone }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th scope="row">Дата рождения</th>
                        <td>{% if (app.user.birthDate ?? null) %}{{ app.user.birthDate|date('d.m.Y') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Дата регистрации</th>
                        <td>{{ app.user.createdAt|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        {% if is_granted('ROLE_REGISTERED') %}
                            <th scope="row" class="text-success">E-mail подтвержден</th>
                            <td><i class="fas fa-check text-success"></i> {{ app.user.email }}</td>
                        {% elseif is_granted('ROLE_BANNED') %}
                            <th scope="row" class="text-danger">Вы
                                забанены {{ app.user.banned|format_date(locale = 'ru') }}</th>
                            <td><i class="fas fa-times text-danger"></i> {{ app.user.bannedReason }}</td>
                        {% else %}
                            <th scope="row" class="text-danger">Подтвердите E-mail.</th>
                            <td><i class="fas fa-times text-danger"></i> {{ app.user.email }}</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row  justify-content-center">
            <div class="col-md-8">
                {% if is_granted('ROLE_REGISTERED') %}
                    <a href="{{ url('app_account_edit') }}">
                        <button type="button" class="btn btn-secondary">Изменить</button>
                    </a>
                {% elseif is_granted('ROLE_BANNED') %}
                {% else %}
                    <a href="{{ url('app_account_activate') }}">
                        <button type="button" class="btn btn-secondary">Ввести код активации</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
{% endblock %}
{% set no_search=true %}