{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<section class="container{% if not flash %} first-section{% endif %}">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {{ form_start(registrationForm, {
                    attr: {class: 'form-signin'}
                }) }}
                <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.surname) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}
{#{% block metrika %}{% endblock %}#}