{% extends 'base.html.twig' %}

{% block title %}Поиск по сайту{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h3>Результат по запросу: <b><i>{{ app.request.get('search') }}</i></b></h3>
            </div>

            {% for page in pages %}
                <div class="article-container mb-2">
                    <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                        <div class="col p-2 px-4 d-flex flex-column article-item">
                            <a href="{% if page.id == 1 %}{{ url('app_index') }}{% endif %}
                                     {% if page.id == 2 %}{{ url('app_optic') }}{% endif %}
                                     {% if page.id == 3 %}{{ url('app_tomography') }}{% endif %}
                                     {% if page.id == 4 %}{{ url('app_contacts') }}{% endif %}">
                                <h5 class="mb-2">{{ page.title }} </h5>
                                <div class="d-flex justify-content-between">
                                    <div class="text-muted align-self-center">
                                        <p>{{ page.headTitle|u.truncate(200, '...', false) }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for article in articles %}
                <div class="article-container mb-2">
                    <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                        <div class="col-auto d-none d-sm-block">
                            <img class="article-img"
                                 src="{{ article.imageFilename | imagine_filter('article_preview') }}">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column article-item">
                            <a href="{{ url('app_article_show', {slug: article.slug}) }}"><h5
                                        class="mb-2">{{ article.title }}
                                    <span class="badge rounded-pill text-bg-primary article-comments ms-3">{{ article.comments|length }}</span>
                                </h5></a>
                            <div class="d-flex justify-content-between">
                                <div class="text-muted align-self-center">
                                    <a href="{{ url('app_article_show', {slug: article.slug}) }}">
                                        <p>{{ article.description|u.truncate(100, '...', false) }}</p>
                                        <p><strong>{{ article.author.firstname }}
                                                &nbsp;{{ article.author.surname }}</strong></p>
                                        <p class="text-success">
                                            <i>{{ article.publishedAt ? article.publishedAt|date('d-m-Y H:i:s') : '' }}</i>
                                        </p>
                                    </a>
                                </div>
                                <div class="text-muted align-self-center ms-3"><i class="fas fa-lg
                                    {{ article.publishedAt ? 'fa-eye text-success' : 'fa-eye-slash text-danger' }}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for comment in comments %}
                <div class="row no-gutters border rounded-lg overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-center">
                                <i class="fas fa-lg {{ comment.publishedAt ? 'fa-eye text-success' : 'fa-eye-slash text-danger' }}"></i>
                            </td>
                            <td colspan="4" class="text-primary"><b><a href="{{ url('app_article_show', {slug: comment.article.slug}) }}">{{ comment.article.title }}</a></b></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a href="{{ url('app_article_show', {slug: comment.article.slug}) }}">
                                <strong>{{ comment.author.firstname }} {{ comment.author.surname }}</strong>
                                </a>
                            </td>
                            <td colspan="2">
                                <i>{{ comment.publishedAt ? comment.publishedAt|date('d-m-Y H:i:s') : '' }}</i>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a href="{{ url('app_article_show', {slug: comment.article.slug}) }}">
                                <p>{{ comment.text | markdown_to_html }}</p>
                                </a>
                            </td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}

