{% extends 'base.html.twig' %}

{% block title %}Поиск по сайту{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h3><b><i>Карта Сайта</i></b></h3>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td><b>{{ page.title }}</b></td>
                        <td><a class="link-unstyled" href="{% if page.id == 1 %}{{ url('app_index') }}{% endif %}
                                     {% if page.id == 2 %}{{ url('app_optic') }}{% endif %}
                                     {% if page.id == 3 %}{{ url('app_tomography') }}{% endif %}
                                     {% if page.id == 4 %}{{ url('app_contacts') }}{% endif %}">{{ page.headTitle|u.truncate(100, '...', false) }}</a></td>
                        <td class="align-middle">
                            <a href="{% if page.id == 1 %}{{ url('app_index') }}{% endif %}
                                     {% if page.id == 2 %}{{ url('app_optic') }}{% endif %}
                                     {% if page.id == 3 %}{{ url('app_tomography') }}{% endif %}
                                     {% if page.id == 4 %}{{ url('app_contacts') }}{% endif %}"><i class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td><b>Список статей</b></td>
                    <td><a class="link-unstyled" href="{{ url('app_articles') }}">Список всех статей</a></td>
                    <td class="align-middle"><a href="{{ url('app_articles') }}"><i class="fas fa-link fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td><b>{{ article.title }}</b></td>
                        <td><a class="link-unstyled" href="{{ url('app_article_show', {slug: article.slug}) }}">{{ article.description|u.truncate(100, '...', false) }}</a></td>
                        <td class="align-middle">
                            <a href="{{ url('app_article_show', {slug: article.slug}) }}"><i class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}

