{% extends 'base.html.twig' %}

{% block title %}Поиск по сайту{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h3><b><i>Карта Сайта</i></b></h3>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th class="disappeared-380">&nbsp;</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td><b>{{ page.title }}</b></td>
                        <td><a class="link-unstyled" href="{% if page.id == 1 %}{{ url('app_index') }}{% endif %}
                                     {% if page.id == 2 %}{{ url('app_optic') }}{% endif %}
                                     {% if page.id == 3 %}{{ url('app_tomography') }}{% endif %}
                                     {% if page.id == 4 %}{{ url('app_contacts') }}{% endif %}
                                     {% if page.id == 5 %}{{ url('app_price') }}{% endif %}
                                     {% if page.id == 6 %}{{ url('app_certificates') }}{% endif %}">{{ page.headTitle|u.truncate(100, '...', false) }}</a>
                        </td>
                        <td class="align-middle disappeared-380">
                            <a href="{% if page.id == 1 %}{{ url('app_index') }}{% endif %}
                                     {% if page.id == 2 %}{{ url('app_optic') }}{% endif %}
                                     {% if page.id == 3 %}{{ url('app_tomography') }}{% endif %}
                                     {% if page.id == 4 %}{{ url('app_contacts') }}{% endif %}
                                     {% if page.id == 5 %}{{ url('app_price') }}{% endif %}
                                     {% if page.id == 6 %}{{ url('app_certificates') }}{% endif %}"><i
                                        class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% if not is_granted('ROLE_USER') %}
                <tr>
                    <td><b>Регистрация</b></td>
                    <td><a class="link-unstyled" href="{{ url('app_register') }}">Регистрация нового пользователя</a>
                    </td>
                    <td class="align-middle disappeared-380">
                        <a href="{{ url('app_register') }}"><i class="fas fa-link fa-lg"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <tr>
                        <td><b>Кабинет</b></td>
                        <td><a class="link-unstyled" href="{{ url('app_account') }}">Информация о пользователе</a></td>
                        <td class="align-middle disappeared-380">
                            <a href="{{ url('app_account') }}"><i class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                    {% if not is_granted('ROLE_REGISTERED') and not is_granted('ROLE_BANNED')%}
                        <tr>
                            <td><b>Активация</b></td>
                            <td><a class="link-unstyled" href="{{ url('app_account_activate') }}">Активация аккаунта с
                                    помощью кода</a></td>
                            <td class="align-middle disappeared-380">
                                <a href="{{ url('app_account_activate') }}"><i class="fas fa-link fa-lg"></i></a>
                            </td>
                        </tr>
                    {% endif %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% endif %}
                {% if is_granted('ROLE_REGISTERED') %}
                    <tr>
                        <td><b>Данные</b></td>
                        <td><a class="link-unstyled" href="{{ url('app_account_edit') }}">Изменить основные данные о пользователе</a></td>
                        <td class="align-middle disappeared-380">
                            <a href="{{ url('app_account_edit') }}"><i class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Телефоны</b></td>
                        <td><a class="link-unstyled" href="{{ url('app_account_number') }}">Изменить или добавить телефонные номера</a></td>
                        <td class="align-middle disappeared-380">
                            <a href="{{ url('app_account_number') }}"><i class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Пароль</b></td>
                        <td><a class="link-unstyled" href="{{ url('app_account_changepassword') }}">Изменить пароль</a></td>
                        <td class="align-middle disappeared-380">
                            <a href="{{ url('app_account_changepassword') }}"><i class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>Список статей</b></td>
                    <td><a class="link-unstyled" href="{{ url('app_articles') }}">Список всех статей</a></td>
                    <td class="align-middle disappeared-380"><a href="{{ url('app_articles') }}"><i
                                    class="fas fa-link fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td><b>{{ article.title }}</b></td>
                        <td><a class="link-unstyled"
                               href="{{ url('app_article_show', {slug: article.slug}) }}">{{ article.description|u.truncate(100, '...', false) }}</a>
                        </td>
                        <td class="align-middle disappeared-380">
                            <a href="{{ url('app_article_show', {slug: article.slug}) }}"><i
                                        class="fas fa-link fa-lg"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}
{# {% block footer %}{% endblock %} #}

