{% extends 'base.html.twig' %}

{% block title %}Поиск по сайту{% endblock %}

{% block body %}
    <section class="container{% if not flash %} first-section{% endif %}">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h3><b><i>Карта Сайта</i></b></h3>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Название страницы</th>
                    <th>Краткое описание</th>
                    <th>Ссылка</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td><b>{{ page.title }}</b></td>
                        <td>{{ page.headTitle|u.truncate(100, '...', false) }}</td>
                        <td>
                            <a href="{% if page.id == 1 %}{{ url('app_index') }}{% endif %}
                                     {% if page.id == 2 %}{{ url('app_optic') }}{% endif %}
                                     {% if page.id == 3 %}{{ url('app_tomography') }}{% endif %}
                                     {% if page.id == 4 %}{{ url('app_contacts') }}{% endif %}">Ссылка</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td><b>Список статей</b></td>
                    <td>Список всех статей</td>
                    <td><a href="{{ url('app_articles') }}">Ссылка</a></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td><b>{{ article.title }}</b></td>
                        <td>{{ article.description|u.truncate(100, '...', false) }}</td>
                        <td>
                            <a href="{{ url('app_article_show', {slug: article.slug}) }}">Ссылка</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}

