{% extends '/admin/base_admin.html.twig' %}

{% block title %}Обзор{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="h3 mb-3 font-weight-normal">Список файлов</h1>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.image) }}
                    </div>
                    <div class="col-sm-4 mb-3">
                         <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-sm-12">
                    <table class="table table-striped">
                        {% for file in  fileList|sort((a, b) => b.created <=> a.created) %}
                            <tr>
                                <td class="align-middle">{{ file.filename }}</td>
                                <td class="align-middle disappeared-620">{{ file.size|shortBite }}</td>
                                {# <td class="align-middle disappeared-620">{{ file.created|date("H:i:s d-m-y") }}</td> #}
                                <td class="align-middle disappeared-380">
                                    <a href="{{ upload_asset('article_uploads', file.filename) }}" target="_blank">
                                        <img title="Увеличить" class="rounded"
                                             src="{{ file.filename | imagine_filter('picture_preview') }}"
                                             alt="{{ file.filename }}">
                                    </a>
                                </td>
                                <td class="align-middle align-items-end">
                                    <a title="Удалить!" href="{{ path('app_admin_pictures_delete', {filename: file.filename}) }}"
                                       onclick="return confirm(`Вы уверены?`)">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Файлов не найдено</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </section>
{% endblock %}
{% set no_fixed=true %}
{% set no_search=true %}
{% block footer %}{% endblock %}
