<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-sidebar">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <span class="fs-5 d-none d-sm-inline">Настройки</span>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
{#            <li>#}
{#                <a href="{{ path('app_admin') }}" class="nav-link px-0 align-middle">#}
{#                    <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline">Обзор</span></a>#}
{#            </li>#}
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fas fa-th-list fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Главные страницы</span>
                </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="{{ path('app_admin_main_pages', {id: 1}) }}" class="nav-link px-0"> <span
                                    class="d-none d-sm-inline">Кабинет</span> <i class="fas fa-home"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_main_pages', {id: 2}) }}" class="nav-link px-0"> <span
                                    class="d-none d-sm-inline">Оптика</span> <i class="fas fa-glasses"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_main_pages', {id: 3}) }}" class="nav-link px-0"> <span
                                    class="d-none d-sm-inline">Томография</span> <i class="fas fa-microscope"></i></a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_main_pages', {id: 4}) }}" class="nav-link px-0"> <span
                                    class="d-none d-sm-inline">Контакты</span> <i class="fas fa-id-card"></i></a>
                    </li>
                </ul>
            </li>
            <hr>
            <li>
                <a href="{{ path('app_admin_pictures') }}" class="nav-link px-0 align-middle">
                    <i class="fas fa-file-image fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Файлы</span></a>
            </li>
            <li>
                <a href="{{ path('app_admin_articles') }}" class="nav-link px-0 align-middle">
                    <i class="fas fa-paste fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Статьи</span></a>
            </li>

            <li>
                <a href="{{ path('app_admin_comments') }}" class="nav-link px-0 align-middle">
                    <i class="fas fa-comments fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Комменты</span> </a>
            </li>

            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fas fa-users fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Пользователи</span> </a>
            </li>
        </ul>

    </div>
</div>


