<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <meta name="author" content="Valitskii I.S."> #}
    <link rel="icon" type="image/ico" sizes="16x16" href="{{ asset('favicon.ico') }}">
    <meta name="yandex-verification" content="4117025a9084702a">
    <meta name="description" content="{% block description %}Глазной кабинет Валицкого И.С.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta property="og:description"
          content="Глазной кабинет. визометрия, авторефрактометрия, пневмотонометрия, офтальмоскопия, биомикроскопия, гониоскопия, оптическая когерентная томография глаз">
    <meta property="og:title" content="Окулист, Офтальмолог В Туле">
    <meta property="og:image" content="{{ 'img/kabinet2.jpg'| imagine_filter('picture_preview') }}">
    <meta property="og:type" content="website">

    {% block css %}
        {{ encore_entry_link_tags('app') }}
        {% if is_granted('ROLE_USER') %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
                  integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous">
        {% endif %}
    {% endblock %}
    <link rel="canonical" href="{{ url(app.request.get('_route'),
        app.request.get('_route_params')) }}">
</head>
<body id="body">
<div class="body-content">
    {% block navigation %}
        {% include('base_nav.html.twig') %}
    {% endblock %}
    {% set flash = false %}
    {% if is_granted('IS_IMPERSONATOR') %}
        <div class="alert alert-warning mb-0">
            <div class="container-fluid">
                <span><strong>ИМПЕРСОНАЛИЗАЦИЯ ВКЛЮЧЕНА</strong></span>
                <a class="my-auto float-end" href="{{ path('app_index', {'_switch_user': '_exit'}) }}">Выйти</a>
            </div>
        </div>
    {% endif %}

    {% if app.session.flashBag.peek('flash_message')|length > 0  or app.session.flashBag.peek('flash_error')|length > 0 %}
        <section class="container first-section">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    {% if app.session.flashBag.peek('flash_message')|length > 0 %}
                        <div class="alert alert-success" role="alert">
                            {% for message in app.flashes('flash_message') %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if app.session.flashBag.peek('flash_error')|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            <div class="alert alert-danger" role="alert">
                                {% for message in app.flashes('flash_error') %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% set flash=true %}
    {% endif %}

    {% block body %}
    {% endblock %}
</div>
{% block footer %}
    {{ include('base_footer.html.twig') }}
{% endblock %}
{% block script %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block metrika %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(93406640, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/93406640" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endblock %}
</body>

</html>
