<nav class="navbar navbar-expand-md navbar-dark navbar-bg{% if no_fixed is not defined %}{% if not is_granted('IS_IMPERSONATOR') %} fixed-top{% endif %}{% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url('app_index') }}"><img class="img-logo"
                                                                   src="{{ 'eye.png'|imagine_filter('logo') }}"
                                                                   alt="Глазной кабинет"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link{% if app.request.get('_route') == "app_index" %} active{% endif %}"
                       aria-current="page" href="{{ path('app_index') }}">Глазной&#160;кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if app.request.get('_route') == "app_optic" %} active{% endif %}"
                       href="{{ path('app_optic') }}">Оптика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if app.request.get('_route') == "app_tomography" %} active{% endif %}"
                       href="{{ path('app_tomography') }}">Томография&#160;глаз</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if app.request.get('_route') == "app_contacts" %} active{% endif %}"
                       href="{{ path('app_contacts') }}">Контакты</a>
                </li>
            </ul>
            <ul class="navbar-nav me-3">
                <li class="nav-item dropdown">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">{{ app.user.firstName }}</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ absolute_url(path('app_admin')) }}">Панель
                                        администратора</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_account') }}">Кабинет</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Выйти</a></li>
                        </ul>
                    {% else %}
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">Войти</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">Войти</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">Зарегистрироваться</a></li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
            {% if no_search is not defined %}
                <form role="search" action="{{ url('app_search') }}">
                    <input class="form-control" type="search" name="search" placeholder="Поиск по сайту" aria-label="Search" value="{{app.request.get('search')}}">
                </form>
            {% endif %}
        </div>
    </div>
</nav>