{{ form_start(articleForm) }}
{# {% if articleForm.vars.data.imageFilename|default %} #} {# убирает ошибку если в data ничего нет #}
{% if articleForm.vars.data.imageFilename %}
    <img
            src="{{ articleForm.vars.data.imageFilename | imagine_filter('article_show_edit') }}"
    >
{% endif %}
{{ form_row(articleForm.image, {label: 'Image'}) }}
{{ form_row(articleForm.title) }}
{{ form_row(articleForm.description) }}
{{ form_row(articleForm.text) }}
{{ form_row(articleForm.publishedAt) }}
{{ form_row(articleForm.keywords) }}
{{ form_row(articleForm.likes) }}
{{ form_row(articleForm.author) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}
